<div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
<h1>Your profile</h1>
<div class="container">

    <form ng-model="changingUser" style="margin-top:50px; width: 250px;">
        <div class="form-group">
            <label for="userName">Username:</label>
            {{username}}
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input name="pas" type="password" ng-model="changingpw" class="form-control" id="pwd"
                   placeholder="New Password">
        </div>
        <div class="form-group">
            <button class="button btn-success" ng-model="changingUser" ng-click="editUser();"
                    onkeydown="this.form.result.value=SHA256(this.form.pas.value);">Create
            </button>
        </div>
        <input name="result" style="visibility: hidden">
    </form>

</div>