<h1>Welcome <span ng-show="!isUser && !isAdmin">dear guest</span> <span ng-show="isUser || isAdmin">{{username}}</span></h1>
<div class="container">
    <div ng-show="!isUser && !isAdmin">Below here you can see all the wishes in on the WISH LIST</div>
    <div ng-show="isUser || isAdmin">
    <h3>User list</h3>

    <input placeholder="Search for user" ng-show="isUser || isAdmin" type="search" ng-model="userFilter">
    <br/>
    <select data-ng-model="selectedUser">
        <option ng-repeat="user in AllUsers | filter: userFilter">{{user.userName}}</option>

    </select> <button class="glyphicon glyphicon-plus" title="add to friendlist" ng-click="addFriend(selectedUser)"></button>  <button class="glyphicon glyphicon-minus" title="remove from friendlist" ng-click="removeFriend(selectedUser)"></button>
    </div>
    <h3>All wishes</h3>
    <table class=" table table-striped">
        <thead>
        <th>Title</th>
        <th>Price</th>
        <th>Description</th>
        <th>Link</th>
        </thead>
        <tbody>
        <tr ng-repeat="wish in filteredCategories">
            <td>{{wish.title}}</td>
            <td>{{wish.price}}</td>
            <td>{{wish.description}}</td>
            <td><a target="_blank" href="http://{{wish.link}}">{{wish.link}}</a></td>
        </tr>
        </tbody>
    </table>
    <pagination page="currentPage" boundary-links="true" total-items="totalItems" ng-model="currentPage"
                items-per-page="numPerPage" max-size="maxSize"></pagination>

</div>