<h1>Super users!</h1>

<p>Welcome dear super user: {{username}}</p>

<select ng-model="friendSelected" ng-change="update()">
    <option ng-repeat=" wish in friendList" value="{{wish.user}}">{{wish.user}}</option>

</select>
<button class="glyphicon glyphicon-minus" title="remove from friendlist"
        ng-click="removeFriend(friendSelected)"></button>
<p class="alert-success">{{status}}</p>
<h3>You are logged in as {{username}}</h3>

<div class="container">
    <h2> wish for: {{friendSelected}}</h2>

    <br/>
    <br/>
    <br/>
    <br/>

    <p class="alert-danger">{{messageIfWishListIsEmpty}}</p>
    <table class=" table table-striped">
        <thead>
        <th>Add To My "to buy list"</th>
        <th>Title</th>
        <th>Price</th>
        <th>Description</th>
        <th>Owner</th>
        <th>Link</th>
        </thead>
        <tbody>
        <tr ng-repeat="wish in friendsWishes | emptyWishlist track by $index">
            <td>
                <button type="button" class="btn btn-success" ng-click="addWishToBuyList(wish)">Add ToBuyList</button>
            </td>
            <td>{{wish.title}}</td>
            <td>{{wish.price}}</td>
            <td>{{wish.description}}</td>
            <td>{{friendSelected}}</td>
            <td><a target="_blank" href="http://{{wish.link}}">{{wish.link}}</a></td>
        </tr>
        </tbody>
    </table>


    <h2>TO BUY LIST</h2>
    <table class=" table table-striped">
        <thead>
        <th>Buy || Release wish</th>
        <th>Title</th>
        <th>Price</th>
        <th>Description</th>
        <th>Owner</th>
        <th>Link</th>
        </thead>
        <tbody>
        <tr ng-repeat="wishToBuy in buyerList">
            <td>
                <button type="button" class="btn btn-success" ng-click="buyWish(wishToBuy)">BUY</button>
                ||
                <button type="button" class="btn btn-danger" ng-click="releaseWish(wishToBuy)">Release</button>
            </td>
            <td>{{wishToBuy.title}}</td>
            <td>{{wishToBuy.price}}</td>
            <td>{{wishToBuy.description}}</td>
            <td>{{wishToBuy.userName}}</td>
            <td><a target="_blank" href="http://{{wishToBuy.link}}">{{wishToBuy.link}}</a></td>
        </tr>
        </tbody>
    </table>

</div>
<!--<select ng-options="size as size.owner for size in fList"-->
<!--ng-model="item" ng-change="update()"></select>-->

<!--<p>{{whi.title}}</p>-->


<!--<li ng-model="item" ng-repeat="wish in whises ">{{wish}}</li>-->